@media (min-width: 200px) and (max-width: 500px) {
  .space  {
    margin-top: 0px;
  }
  #header, #comput, #xp, #formation {
    margin: 0%;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .space  {
    margin-top: 0px;
  }
  #header, #comput, #xp, #formation {
    margin: 0%;
  }
}
@media (min-width: 768px) and (max-width: 1600px) and (orientation: landscape) {
  #header {
    margin-top: 0.5%;
  }
  #comput {
    margin-top: -24%;
    margin-left: 1%;
  }
  #xp {
    margin-top: -15.5%;
  }
  #formation {
    margin-top: -7%;
    margin-bottom: 3.3%;
  }
}
.container-fluid {  /*fond ordinateur CV*/
  background: #008080;
  font-family: serif;
}
#header {
  border: 4px ridge #BAB3BA;
  background: linear-gradient(to left, #BCBCBC, #B8BAB8, #BABBBA, #BAB3BA);
  box-shadow: 1px 1px 2px 1px;
  z-index: 5;
}
.head { /*petit entête bleue*/
  Background: linear-gradient(to right, #04047C, #040C85, #061B8C, #082895, #09369C, #0A45A2, #0C3FA5, #0C51AE, #0C58B2, #0C68BB, #0B72C2, #0C77C6);
  border: 18% #04047C;
  height: 21px;
  font-size: 17px;
  margin-top: 0%;
  font-weight: bold;
  color: white;
}
#error { /*bloc d'erreur*/
  background: white;
  font-weight: normal;
  border: groove white;
  height: 90px;
  padding-top: 30px;
}
#description {
  padding-top: 3%;
}
#smiley {
  background: none;
  height: 40%;
  width: 40%;
  float: left;
  margin: 5% 5% 0% 0%;
}
input[title="supress"] { /*boutton supprimer*/
  background: #BAB3BA;
  color: black;
  font-size: 14px;
  margin-top: 9%;
  margin-bottom: 9%;
  float: right;
}
input[title="depress"] { /*boutton supprimer*/
  background: #BAB3BA;
  color: black;
  font-size: 14px;
  margin-top: 1%;
  margin-bottom: 1%;
  float: right;
}
#comput { /*deuxième bloc - les compétences aquises*/
  background: linear-gradient(to left, #BCBCBC, #B8BAB8, #BABBBA, #BAB3BA);
  border: 3px ridge #BAB3BA;
  box-shadow: 1px 1px 2px 1px;
}
#comput:hover {
  z-index: 4;
}
#whiteWindow { /*fenêtre blanche des compétences*/
  background: white;
  border: 1px groove #FAFAFA;
  border: groove white;
  overflow-x: auto;
}
#brain { /*coté gauche de la fenêter des compétences, avec le logo windows*/
  background: white;
  width: 25%;
}
#brain h3 {
  font-size: 13px;
  font-weight: bold;
}
#brain p {
  font-size: 11px;
}
#brain li {
  font-size: 12px;
  margin-left: -16%;
  list-style-type: none;
  text-decoration: underline;
}
#blueLine {
    width: 100%;
    height: 0.5%;
    background: blue;
}
table {
  position: absolute;
  left: 25%;
  font-size: 12px;
  top: 1%;
}
td {
  padding: 2%;
}
#progressWindows { /*fausse barre de progression*/
  background-color: white;
  border: 1px ridge black;
}
#progressWindows:after { /*contenant de la fausse barre de progression*/
    content: '||||||||||||||';
    width: 60%;
    display: block;
    overflow: hidden;
    font: bolder 55px/8px sans-serif;
    color: #050370;
    letter-spacing: -10px;
    margin-left: -4%;
}
#xp { /*troisième bloc - l'expérience*/
  background: linear-gradient(to left, #BCBCBC, #B8BAB8, #BABBBA, #BAB3BA);
  border: 3px ridge #BAB3BA;
  box-shadow: black 1px 1px 2px 1px;
  z-index: 2;
}
#xp:hover {
  z-index: 5;
}
#formation { /*quatrième bloc - la formation*/
  background: linear-gradient(to right, #BCBCBC, #B8BAB8, #BABBBA, #BAB3BA);
  border: 3px ridge #BAB3BA;
  box-shadow: 1px 1px 2px 1px;
  z-index: 2;
}
#formation p {
  font-size: 15px;
}
button[title="reduct"] {
  height: 19px;
  width: 19px;
  background: #BAB3BA;
  color: black;
  padding-bottom: 1%;
}
button[title="grow"] {
  height: 19px;
  width: 19px;
  background: #BAB3BA;
  color: black;
  padding-bottom: 1%;
}
button[title="close"] {
  height: 19px;
  width: 19px;
  background: #BAB3BA;
  color: black;
  padding-bottom: 1%;
}
#buttonPlace { /*place des boutons fermer, réduir et agrandir de la première fenêtre*/
  position: absolute;
  top: 0.1ex;
  right: 1%;
}
footer { /*menue démarrer*/
  background: linear-gradient(to left, #BCBCBC, #B8BAB8, #BABBBA, #BAB3BA);
  height: 28px;
}
#links {
  border: 2px inset gray;
  height: 20px;
  width: 15%;
  position: absolute;
  right: 1%;
  margin-top: 0.3ex;
}
#links span {
  margin-top: 1%;
}
#bluebar { /*La barre bleue verticale qui se trouve dans le menu*/
    width: 2%;
    background: blue;
}
#openWindow { /*Début de la colone du menu défilant*/
  background: linear-gradient(to left, #BCBCBC, #B8BAB8, #BABBBA, #BAB3BA);
  border: 2px outset gray;
  overflow: auto;
  margin-top: -35.7%;
  z-index: 6;
}
#opacOne { /*les fausses catégories*/
  margin-left: 11%;
  padding-top: 9%;
  padding-bottom: 9%;
}
#opacTwo {
  margin-left: 11%;
  padding-top: 9%;
  padding-bottom: 9%;
  margin-top: -11%;
}
#opacThree {
  margin-left: 11%;
  padding-top: 9%;
  padding-bottom: 9%;
  margin-top: -11%;
}
#opacFour {
  margin-left: 11%;
  padding-top: 9%;
  padding-bottom: 9%;
  margin-top: -11%;
}
#opacFive {
  margin-left: 11%;
  padding-top: 9%;
  padding-bottom: 9%;
  margin-top: -11%;
}
#opacSix {
  margin-left: 11%;
  padding-top: 9%;
  padding-bottom: 9%;
  margin-top: -11%;
}
#opacSeven {
  margin-left: 11%;
  padding-top: 9%;
  padding-bottom: 9%;
  margin-top: -11%;
}
#opacEight {
  margin-left: 11%;
  padding-top: 9%;
  padding-bottom: 9%;
  margin-top: -11%;
}
#opacNine {
  margin-left: 11%;
  padding-top: 9%;
  padding-bottom: 9%;
  margin-top: -11%;
}
div[title="error318"]:hover { /*Le clignotement bleu*/
  background-color: #03007A;
  color: white;
}
.direction { /*Petite fléchettes. Attention, elles influent sur les padding des opac*/
  text-align: right;
  font-size: 10px;
  margin-top: -10%;
}
#menu { /*boutton menu*/
  color: #4A494F;
  background: right #BAB3BA;
}
img[alt="github"] {
  width: 10%;
}
img[alt="linkedin"] {
  width: 10%;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
p {
  font-weight: normal;
  color: black;
  font-size: 14px;
}
ul {
  font-weight: normal;
  font-size: 15px;
  color: black;
  list-style-type: none;
}
li {
  margin-bottom: 1%;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: blue;
}
